# Capítulo 4 Parte 3, Exercícios
## Nome: Felipe Silva Loschi
## Matrícula: GES-601

##Importando o dataframe e salvando

In [11]:
import numpy as np

df = np.loadtxt('space.csv', delimiter = ';', dtype = str, encoding='utf-8')
semtitulo = df[1:,:]
print(df)

[['\ufeffNum' 'Company Name' 'Location' ... 'Status Rocket' ' Cost'
  'Status Mission']
 ['0' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA' ...
  'StatusActive' '50.0 ' 'Success']
 ['1' 'CASC' 'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China'
  ... 'StatusActive' '29.75 ' 'Success']
 ...
 ['4321' 'US Navy' 'LC-18A Cape Canaveral AFS Florida USA' ...
  'StatusRetired' '0' 'Failure']
 ['4322' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']
 ['4323' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']]

## 1. Apresentando a porcentagem de missões que deram certo

In [12]:
missoes = df[1:,-1]
print(((missoes[missoes[:] == 'Success'].size)/(missoes.size)*100),"% de missões foram sucesso")

89.70860314523588 % de missões foram sucesso

##2. Qual a média de gastos de uma missão especial se baseando em missões que possuam valores disponíveis (> 0)?

In [13]:
custo = df[1:,-2].astype(float)
print(custo[custo[:] > 0].mean())

153.7921991701245

## 3.Encontre quantas missões espaciais neste Dataset foram realizadas pelos Estados Unidos (EUA)

In [14]:
quem = df[1:,1]
display(quem)
print(quem[np.char.find(quem,"US")==0].size+quem[np.char.find(quem,"NASA")==0].size)

array(['SpaceX', 'CASC', 'SpaceX', ..., 'US Navy', 'RVSN USSR',
       'RVSN USSR'], dtype='<U84')

381

##4. Encontre qual foi a missão mais cara realizada pela empresas “SpaceX”

In [15]:
#Slicing dos nomes das companhias, dos custos e dos nomes das missões
space = df[1:,1]
custo = df[1:,-2]
nomes = df[1:,-4]
#Por via de dúvida, mostrando os custos das missões
display(custo[np.char.find(space, "SpaceX") == 0].astype(float))
#Pegando o maior custo, não seu índex, pois pode haver mais de uma missão que tem o mesmo custo do maior
custo_max = custo[np.char.find(space, "SpaceX") == 0].astype(float).max()
#Guardando o índex de todas as missões com o maior custo
idxs_max = np.where(custo[np.char.find(space, "SpaceX") == 0].astype(float) == custo_max)[0]
#Mostrando tudo
print("Maior custo:", custo_max)
print("Nomes correspondentes:", nomes[idxs_max])

array([50. ,  0. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 90. , 50. , 50. ,
       50. , 90. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. , 50. ,
       50. , 50. , 50. , 62. , 62. , 62. , 50. , 62. , 62. , 62. , 62. ,
       62. , 90. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. ,
       62. , 62. , 62. , 62. , 62. , 62. , 62. , 62. , 56.5, 62. , 56.5,
       56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5, 56.5,
       56.5, 56.5, 59.5, 59.5, 59.5, 59.5, 59.5,  7. ,  7. ,  7. ,  7. ,
        7. ])

Maior custo: 90.0
Nomes correspondentes: ['Long March 2D | Gaofen-9 03, Pixing III A & HEAD-5'
 'Falcon 9 Block 5 | Starlink V1 L7' 'Falcon 9 Block 5 | CRS-20']

## 5. Mostre o nome das empresas que já realizaram missões espaciais, juntamente com suas respectivas quantidades de missões (use o for no final para mostrar as informações)

In [23]:
#Slicing dos nomes das companhias
companies = df[1:,1]
companiesU = np.unique(companies)
for company in companiesU:
  print(f"A companhia {company} já realizou", companies[companies[:] == company].size, "missões.")

A companhia AEB já realizou 3 missões.
A companhia AMBA já realizou 8 missões.
A companhia ASI já realizou 9 missões.
A companhia Arianespace já realizou 279 missões.
A companhia Arm??e de l'Air já realizou 4 missões.
A companhia Blue Origin já realizou 12 missões.
A companhia Boeing já realizou 136 missões.
A companhia CASC já realizou 251 missões.
A companhia CASIC já realizou 5 missões.
A companhia CECLES já realizou 4 missões.
A companhia CNES já realizou 8 missões.
A companhia Douglas já realizou 1 missões.
A companhia EER já realizou 1 missões.
A companhia ESA já realizou 13 missões.
A companhia Eurockot já realizou 13 missões.
A companhia ExPace já realizou 10 missões.
A companhia Exos já realizou 4 missões.
A companhia General Dynamics já realizou 251 missões.
A companhia IAI já realizou 11 missões.
A companhia ILS já realizou 46 missões.
A companhia IRGC já realizou 1 missões.
A companhia ISA já realizou 13 missões.
A companhia ISAS já realizou 30 missões.
A companhia ISRO já realizou 76 missões.
A companhia JAXA já realizou 7 missões.
A companhia KARI já realizou 3 missões.
A companhia KCST já realizou 5 missões.
A companhia Khrunichev já realizou 1 missões.
A companhia Kosmotras já realizou 22 missões.
A companhia Land Launch já realizou 7 missões.
A companhia Landspace já realizou 1 missões.
A companhia Lockheed já realizou 79 missões.
A companhia MHI já realizou 84 missões.
A companhia MITT já realizou 7 missões.
A companhia Martin Marietta já realizou 114 missões.
A companhia NASA já realizou 203 missões.
A companhia Northrop já realizou 83 missões.
A companhia OKB-586 já realizou 2 missões.
A companhia OneSpace já realizou 1 missões.
A companhia RAE já realizou 2 missões.
A companhia RVSN USSR já realizou 1777 missões.
A companhia Rocket Lab já realizou 13 missões.
A companhia Roscosmos já realizou 55 missões.
A companhia SRC já realizou 3 missões.
A companhia Sandia já realizou 1 missões.
A companhia Sea Launch já realizou 36 missões.
A companhia SpaceX já realizou 100 missões.
A companhia Starsem já realizou 1 missões.
A companhia ULA já realizou 140 missões.
A companhia US Air Force já realizou 161 missões.
A companhia US Navy já realizou 17 missões.
A companhia UT já realizou 5 missões.
A companhia VKS RF já realizou 201 missões.
A companhia Virgin Orbit já realizou 1 missões.
A companhia Yuzhmash já realizou 2 missões.
A companhia i-Space já realizou 1 missões.