# Exercícios Capítulo 5 Parte 2
## Nome: Felipe Silva Loschi
## Matrícula: 601

In [ ]:
import pandas as pd
import numpy as np

##Exercício 1:

###a)

In [ ]:
df = pd.read_csv('/content/paises.csv', sep=';')
df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800,0.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,0.00,0.00,0,0.0,0.0,0.02,0.00,99.98,1.0,0.00,0.00,0.000,0.000,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [40]:
oceania = df['Country'][df['Region'].str.contains('OCEANIA')]
oceania

3            American Samoa
11                Australia
47             Cook Islands
67                     Fiji
71         French Polynesia
83                     Guam
108                Kiribati
130        Marshall Islands
136    Micronesia, Fed. St.
144                   Nauru
148           New Caledonia
149             New Zealand
153      N. Mariana Islands
157                   Palau
159        Papua New Guinea
176                   Samoa
187         Solomon Islands
203                   Tonga
209                  Tuvalu
217                 Vanuatu
221       Wallis and Futuna
Name: Country, dtype: object

b)

In [45]:
print(oceania.count())

21

##Exercício 2

In [36]:
df.loc[df['Population'].idxmax(), ['Country','Region']]

Country                           China
Region     ASIA (EX. NEAR EAST)
Name: 42, dtype: object

##Exercício 3

In [42]:
df_por_regiao = df.groupby('Region')
df_por_regiao['Literacy (%)'].mean()

Region
ASIA (EX. NEAR EAST)                   79.553571
BALTICS                                99.733333
C.W. OF IND. STATES                    98.725000
EASTERN EUROPE                         72.816667
LATIN AMER. & CARIB                    88.640000
NEAR EAST                              69.581250
NORTHERN AFRICA                        56.033333
NORTHERN AMERICA                       78.200000
OCEANIA                                71.914286
SUB-SAHARAN AFRICA                     61.284314
WESTERN EUROPE                         80.821429
Name: Literacy (%), dtype: float64

## Exercício 4

In [43]:
noCoast = df[df['Coastline (coast/area ratio)']== 0]
noCoast

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.0,23.06,163.07,700,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.0,6.60,4.05,19000,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000
9,Armenia,C.W. OF IND. STATES,2976372,29800,99.9,0.0,-6.47,23.28,3500,98.6,195.7,17.55,2.30,80.15,4.0,12.07,8.23,0.239,0.343,0.418
12,Austria,WESTERN EUROPE,8192880,83870,97.7,0.0,2.00,4.66,30000,98.0,452.2,16.91,0.86,82.23,3.0,8.74,9.76,0.018,0.304,0.678
13,Azerbaijan,C.W. OF IND. STATES,7961619,86600,91.9,0.0,-4.90,81.74,3400,97.0,137.1,19.63,2.71,77.66,1.0,20.74,9.75,0.141,0.457,0.402
18,Belarus,C.W. OF IND. STATES,10293011,207600,49.6,0.0,2.54,13.37,6100,99.6,319.1,29.55,0.60,69.85,4.0,11.16,14.02,0.093,0.316,0.591
23,Bhutan,ASIA (EX. NEAR EAST),2279723,47000,48.5,0.0,0.00,100.44,1300,42.2,14.3,3.09,0.43,96.48,2.0,33.65,12.70,0.258,0.379,0.363
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,8.2,0.0,-1.32,53.11,2400,87.2,71.9,2.67,0.19,97.14,1.5,23.30,7.53,0.128,0.352,0.520
26,Botswana,SUB-SAHARAN AFRICA,1639833,600370,2.7,0.0,0.00,54.58,9000,79.8,80.5,0.65,0.01,99.34,1.0,23.08,29.50,0.024,0.469,0.507
31,Burkina Faso,SUB-SAHARAN AFRICA,13902972,274200,50.7,0.0,0.00,97.57,1100,26.6,7.0,14.43,0.19,85.38,2.0,45.62,15.60,0.322,0.196,0.482
33,Burundi,SUB-SAHARAN AFRICA,8090068,27830,290.7,0.0,-0.06,69.29,600,51.6,3.4,35.05,14.02,50.93,2.0,42.22,13.46,0.463,0.203,0.334
39,Central African Rep.,SUB-SAHARAN AFRICA,4303356,622984,6.9,0.0,0.00,91.00,1100,51.0,2.3,3.10,0.14,96.76,2.0,33.91,18.65,0.550,0.200,0.250
40,Chad,SUB-SAHARAN AFRICA,9944201,1284000,7.7,0.0,-0.11,93.82,1200,47.5,1.3,2.86,0.02,97.12,2.0,45.73,16.38,0.335,0.259,0.406
45,"Congo, Dem. Rep.",SUB-SAHARAN AFRICA,62660551,2345410,26.7,0.0,0.00,94.69,700,65.5,0.2,2.96,0.52,96.52,2.0,43.69,13.27,0.550,0.110,0.340
53,Czech Republic,EASTERN EUROPE,10235455,78866,129.8,0.0,0.97,3.93,15700,99.9,314.3,39.80,3.05,57.15,3.0,9.02,10.59,0.034,0.393,0.573
65,Ethiopia,SUB-SAHARAN AFRICA,74777981,1127127,66.3,0.0,0.00,95.32,700,42.7,8.2,10.71,0.75,88.54,2.0,37.98,14.86,0.475,0.099,0.426
92,Hungary,EASTERN EUROPE,9981334,93030,107.3,0.0,0.86,8.57,13900,99.4,336.2,50.09,2.06,47.85,3.0,9.72,13.11,0.037,0.312,0.651
106,Kazakhstan,C.W. OF IND. STATES,15233244,2717300,5.6,0.0,-3.35,29.21,6300,98.4,164.1,7.98,0.05,91.97,4.0,16.00,9.42,0.067,0.386,0.547
112,Kyrgyzstan,C.W. OF IND. STATES,5213898,198500,26.3,0.0,-2.45,35.64,1600,97.0,84.0,7.30,0.35,92.35,2.5,22.80,7.08,0.353,0.208,0.439
113,Laos,ASIA (EX. NEAR EAST),6368481,236800,26.9,0.0,0.00,85.22,1700,66.4,14.1,3.80,0.35,95.85,2.0,35.49,11.55,0.455,0.287,0.258
116,Lesotho,SUB-SAHARAN AFRICA,2022331,30355,66.6,0.0,-0.74,84.23,3000,84.8,23.7,10.87,0.13,89.00,3.0,24.75,28.71,0.163,0.443,0.394
119,Liechtenstein,WESTERN EUROPE,33987,160,212.4,0.0,4.85,4.70,25000,100.0,585.5,25.00,0.00,75.00,4.0,10.21,7.18,0.060,0.390,0.550
121,Luxembourg,WESTERN EUROPE,474413,2586,183.5,0.0,8.97,4.81,55100,100.0,515.4,23.28,0.40,76.32,0.0,11.94,8.41,0.010,0.130,0.860
123,Macedonia,EASTERN EUROPE,2050554,25333,80.9,0.0,-1.45,10.09,6700,0.0,260.0,22.26,1.81,75.93,3.0,12.02,8.77,0.118,0.319,0.563
125,Malawi,SUB-SAHARAN AFRICA,13013926,118480,109.8,0.0,0.00,103.32,600,62.7,7.9,23.38,1.49,75.13,2.0,43.13,19.33,0.342,0.158,0.499
128,Mali,SUB-SAHARAN AFRICA,11716829,1240000,9.5,0.0,-0.33,116.79,900,46.4,6.4,3.82,0.03,96.15,2.0,49.82,16.89,0.450,0.170,0.380
137,Moldova,C.W. OF IND. STATES,4466706,33843,132.0,0.0,-0.26,40.42,1800,99.1,208.1,55.30,10.79,33.91,0.0,15.70,12.64,0.213,0.233,0.555
139,Mongolia,ASIA (EX. NEAR EAST),2832224,1564116,1.8,0.0,0.00,53.79,1800,97.8,55.1,0.77,0.00,99.23,1.0,21.59,6.95,0.206,0.214,0.580
145,Nepal,ASIA (EX. NEAR EAST),28287147,147181,192.2,0.0,0.00,66.98,1400,45.2,15.9,21.68,0.64,77.68,0.0,30.98,9.31,0.380,0.210,0.410
151,Niger,SUB-SAHARAN AFRICA,12525094,1267000,9.9,0.0,-0.67,121.69,800,17.6,1.9,3.54,0.01,96.45,1.0,50.73,20.91,0.390,0.170,0.440
160,Paraguay,LATIN AMER. & CARIB,6506464,406750,16.0,0.0,-0.08,25.63,4700,94.0,49.2,7.60,0.23,92.17,2.0,29.10,4.49,0.224,0.207,0.569
170,Rwanda,SUB-SAHARAN AFRICA,8648248,26338,328.4,0.0,0.00,91.23,1300,70.4,2.7,40.54,12.16,47.30,3.0,40.37,16.09,0.401,0.229,0.370
177,San Marino,WESTERN EUROPE,29251,61,479.5,0.0,10.98,5.73,34600,96.0,704.3,16.67,0.00,83.33,0.0,10.02,8.17,0.000,0.000,0.000
181,Serbia,EASTERN EUROPE,9396411,88361,106.3,0.0,-1.33,12.89,2200,93.0,285.8,33.35,3.20,63.45,0.0,0.00,0.00,0.166,0.255,0.579
185,Slovakia,EASTERN EUROPE,5439448,48845,111.4,0.0,0.30,7.41,13300,0.0,220.1,30.16,2.62,67.22,3.0,10.65,9.45,0.035,0.294,0.672
194,Swaziland,SUB-SAHARAN AFRICA,1136334,17363,65.5,0.0,0.00,69.27,4900,81.6,30.8,10.35,0.70,88.95,2.5,27.41,29.74,0.119,0.515,0.366
196,Switzerland,WESTERN EUROPE,7523934,41290,182.2,0.0,4.05,4.39,32700,99.0,680.9,10.42,0.61,88.97,3.0,9.71,8.49,0.015,0.340,0.645
199,Tajikistan,C.W. OF IND. STATES,7320815,143100,51.2,0.0,-2.86,110.76,1000,99.4,33.5,6.61,0.92,92.47,2.0,32.65,8.25,0.234,0.286,0.480
207,Turkmenistan,C.W. OF IND. STATES,5042920,488100,10.3,0.0,-0.86,73.08,5800,98.0,74.6,3.72,0.14,96.14,1.0,27.61,8.60,0.209,0.380,0.411
210,Uganda,SUB-SAHARAN AFRICA,28195754,236040,119.5,0.0,0.00,67.83,1400,69.9,3.6,25.88,10.65,63.47,2.0,47.35,12.24,0.311,0.222,0.469
216,Uzbekistan,C.W. OF IND. STATES,27307134,447400,61.0,0.0,-1.72,71.10,1700,99.3,62.9,10.83,0.83,88.34,1.0,26.36,7.84,0.342,0.229,0.430
222,West Bank,NEAR EAST,2460492,5860,419.9,0.0,2.98,19.62,800,0.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.0,0.00,88.29,800,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.0,0.00,67.69,1900,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [44]:
noCoast.to_csv('noCoast.csv')

## Exercício 5

In [51]:
##Definindo a função

def humanitaryHelp(x):
  if(x<9):
    return 'Balanced'
  else:
    return 'Urgent'

In [53]:
HumanitarianHelp = df['Deathrate']
HumanitarianHelp = HumanitarianHelp.apply(humanitaryHelp)
HumanitarianHelp

0        Urgent
1      Balanced
2      Balanced
3      Balanced
4      Balanced
         ...
222    Balanced
223    Balanced
224    Balanced
225      Urgent
226      Urgent
Name: Deathrate, Length: 227, dtype: object

In [55]:
df['Humanitarian Help'] = HumanitarianHelp
df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Humanitarian Help
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,...,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,Urgent
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,...,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,Balanced
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,...,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,Balanced
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,...,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000,Balanced
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,...,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000,Balanced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800,0.0,...,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630,Balanced
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,0.00,0.00,0,0.0,...,0.02,0.00,99.98,1.0,0.00,0.00,0.000,0.000,0.400,Balanced
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800,50.2,...,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393,Balanced
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800,80.6,...,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489,Urgent
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900,90.7,...,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579,Urgent