#Pandas
- Series: 1D collections
- DataFrame: 2D+ collections
- Open source that complements NumPy
- Resources:
  - Data treatment
  - Slicing
  - Data grouping

##Importing Pandas

In [ ]:
import pandas as pd
import numpy as np

##Playing with Series
- Series: series of elements, made by indexes and values that can be both definied as wanted

In [ ]:
indices = ['a', 'b', 'c']
valores = [1, 2, 3]
series = pd.Series(data=valores, index=indices)
print(series, type(series))

a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>

###Series with dictionaries
- We can make a series by passing a dictionary

In [ ]:
dick = {
    'Luffy': "Capitão",
    'Zoro': "Vice-Capitão",
    'Sanji': "Cozinheiro",
    'Nami': "Navegadora",
    'Usopp': "Atirador",
    'Chopper': "Médico",
    'Robin': "Arqueóloga"
}

series = pd.Series(dick)
print(series, type(series))

Luffy           Capitão
Zoro       Vice-Capitão
Sanji        Cozinheiro
Nami         Navegadora
Usopp          Atirador
Chopper          Médico
Robin        Arqueóloga
dtype: object <class 'pandas.core.series.Series'>

###Acessing a value

In [ ]:
print(series['Luffy'])

Capitão

###Operation with series

####Sum

In [ ]:
series1 = pd.Series([1, 2, 4, 50, 250, 250123, 1425455], index=['a', 'b', 'd', 'g', 'j', 'l', 'z'])
series2 = pd.Series([10, 20, 30, 50, 250, 250123, 1425455], index=['a', 'b', 'c', 'f', 'h','m', 'y'])
print(series1 + series2)

a    11.0
b    22.0
c     NaN
d     NaN
f     NaN
g     NaN
h     NaN
j     NaN
l     NaN
m     NaN
y     NaN
z     NaN
dtype: float64

####Subtraction

In [ ]:
print(series1 - series2)

a    -9.0
b   -18.0
c     NaN
d     NaN
f     NaN
g     NaN
h     NaN
j     NaN
l     NaN
m     NaN
y     NaN
z     NaN
dtype: float64

***It only works when the index of one side matches the other***

###Making it the Pandas way

- Pandas has an in-built function that makes sums and subtractions that trades an index that exists in just one side with a set number

In [ ]:
print(series1.add(series2, fill_value=550408))
print(series1.sub(series2, fill_value=520507))

a         11.0
b         22.0
c     550438.0
d     550412.0
f     550458.0
g     550458.0
h     550658.0
j     550658.0
l     800531.0
m     800531.0
y    1975863.0
z    1975863.0
dtype: float64
a        -9.0
b       -18.0
c    520477.0
d   -520503.0
f    520457.0
g   -520457.0
h    520257.0
j   -520257.0
l   -270384.0
m    270384.0
y   -904948.0
z    904948.0
dtype: float64

###Condictionaries with Pandas

In [ ]:
print(series2[series2<=20])

a    10
b    20
dtype: int64

**I wouldn't be able to use a mask of a *series* in another *series* if their indexes don't match**

## Playing with DataFrame:
- Collection of series, meaning, multidimensional serie

In [ ]:
np.random.seed(10)
# Tripulation data
data = {
    "Nome": ["Luffy", "Zoro", "Sanji", "Nami", "Usopp", "Chopper", "Robin", "Franky", "Brook", "Jinbe"],
    "Função": ["Capitão", "Vice-Capitão", "Cozinheiro", "Navegadora", "Atirador", "Médico", "Arqueóloga", "Carpinteiro", "Músico", "Timoneiro"],
    "Recompensa (em Berries)": [3000000000, 1111000000, 1032000000, 366000000, 500000000, 1000000, 930000000, 394000000, 383000000, 1100000000],
    "Origem": ["East Blue", "East Blue", "North Blue", "East Blue", "East Blue", "Drum Island", "Ohara", "Water 7", "West Blue", "Fishman Island"]
}

df1 = pd.DataFrame(
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    columns = ['K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T'],
    data = np.random.randint(1, 100, size=(10, 10))
    )
print(df1)

# Creating the DataFrame
df = pd.DataFrame(data)

print(df)

    K   L   M   N   O   P   Q   R   S   T
a  10  16  65  29  90  94  30   9  74   1
b  41  37  17  12  55  89  63  34  73  79
c  50  52  55  78  70  14  26  14  93  87
d  31  31  90  13  66  32  58  37  28  19
e  94  78  23  24  95  12  29  75  89  10
f  16  19  81  72  89  12  18  47   8  76
g  29  34  85  97  89  45   6   5  72  89
h  89  51  55  35  16  78  89  16   7  86
i  23  12  13  93  97  63  58  80  43  58
j  98  51  46  41  90  74  38   1  19  24
      Nome        Função  Recompensa (em Berries)          Origem
0    Luffy       Capitão               3000000000       East Blue
1     Zoro  Vice-Capitão               1111000000       East Blue
2    Sanji    Cozinheiro               1032000000      North Blue
3     Nami    Navegadora                366000000       East Blue
4    Usopp      Atirador                500000000       East Blue
5  Chopper        Médico                  1000000     Drum Island
6    Robin    Arqueóloga                930000000           Ohara
7   Franky   Carpinteiro                394000000         Water 7
8    Brook        Músico                383000000       West Blue
9    Jinbe     Timoneiro               1100000000  Fishman Island

###Making a slicing with iloc(numpy pattern - numerical index)

In [ ]:
print(df.iloc[0:3,0:2])

    Nome        Função
0  Luffy       Capitão
1   Zoro  Vice-Capitão
2  Sanji    Cozinheiro

###Making a slicing with loc

In [ ]:
print(df.loc[[0,1,2,3,4,5], ['Nome','Função', 'Recompensa (em Berries)']])

      Nome        Função  Recompensa (em Berries)
0    Luffy       Capitão               3000000000
1     Zoro  Vice-Capitão               1111000000
2    Sanji    Cozinheiro               1032000000
3     Nami    Navegadora                366000000
4    Usopp      Atirador                500000000
5  Chopper        Médico                  1000000

##Datasets com Pandas

###Importing

In [ ]:
df = pd.read_csv("/content/paises.csv", delimiter=";")
print(df)

             Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania   EASTERN EUROPE                          3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0            647500                        48.0                          0.00
1             28748                       124.6                          1.26
2           2381740                        13.8                          0.04
3               199                       290.4                         58.29
4               468                       152.1                          0.00
..              ...                         ...                           ...
222            5860                       419.9                          0.00
223          266000                         1.0                          0.42
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0            23.06                              163.07                 700
1            -4.93                               21.52                4500
2            -0.39                               31.00                6000
3           -20.71                                9.27                8000
4             6.60                                4.05               19000
..             ...                                 ...                 ...
222           2.98                               19.62                 800
223           0.00                                0.00                   0
224           0.00                               61.50                 800
225           0.00                               88.29                 800
226           0.00                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
0            36.0                3.2       12.13       0.22      87.65
1            86.5               71.2       21.09       4.42      74.49
2            70.0               78.1        3.22       0.25      96.53
3            97.0              259.5       10.00      15.00      75.00
4           100.0              497.2        2.22       0.00      97.78
..            ...                ...         ...        ...        ...
222           0.0              145.2       16.90      18.97      64.13
223           0.0                0.0        0.02       0.00      99.98
224          50.2               37.2        2.78       0.24      96.98
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
0        1.0      46.60      20.34        0.380     0.240    0.380
1        3.0      15.11       5.22        0.232     0.188    0.579
2        1.0      17.14       4.61        0.101     0.600    0.298
3        2.0      22.46       3.27        0.000     0.000    0.000
4        3.0       8.71       6.25        0.000     0.000    0.000
..       ...        ...        ...          ...       ...      ...
222      3.0      31.67       3.92        0.090     0.280    0.630
223      1.0       0.00       0.00        0.000     0.000    0.400
224      1.0      42.89       8.30        0.135     0.472    0.393
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

[227 rows x 20 columns]

###Showing the columns

In [ ]:
print(df.columns)

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

###Printing the first 'n' columns of the df

In [ ]:
print(df.head(5))

           Country                               Region  Population  \
0     Afghanistan         ASIA (EX. NEAR EAST)             31056997
1         Albania   EASTERN EUROPE                          3581655
2         Algeria   NORTHERN AFRICA                        32930091
3  American Samoa   OCEANIA                                   57794
4         Andorra   WESTERN EUROPE                            71201

   Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0          647500                        48.0                          0.00
1           28748                       124.6                          1.26
2         2381740                        13.8                          0.04
3             199                       290.4                         58.29
4             468                       152.1                          0.00

   Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0          23.06                              163.07                 700
1          -4.93                               21.52                4500
2          -0.39                               31.00                6000
3         -20.71                                9.27                8000
4           6.60                                4.05               19000

   Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  Climate  \
0          36.0                3.2       12.13       0.22      87.65      1.0
1          86.5               71.2       21.09       4.42      74.49      3.0
2          70.0               78.1        3.22       0.25      96.53      1.0
3          97.0              259.5       10.00      15.00      75.00      2.0
4         100.0              497.2        2.22       0.00      97.78      3.0

   Birthrate  Deathrate  Agriculture  Industry  Service
0      46.60      20.34        0.380     0.240    0.380
1      15.11       5.22        0.232     0.188    0.579
2      17.14       4.61        0.101     0.600    0.298
3      22.46       3.27        0.000     0.000    0.000
4       8.71       6.25        0.000     0.000    0.000

###Printing the last 'n' columns of the df

In [ ]:
print(df.tail(5))

             Country                               Region  Population  \
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
222            5860                       419.9                          0.00
223          266000                         1.0                          0.42
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
222           2.98                               19.62                 800
223           0.00                                0.00                   0
224           0.00                               61.50                 800
225           0.00                               88.29                 800
226           0.00                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
222           0.0              145.2       16.90      18.97      64.13
223           0.0                0.0        0.02       0.00      99.98
224          50.2               37.2        2.78       0.24      96.98
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
222      3.0      31.67       3.92        0.090     0.280    0.630
223      1.0       0.00       0.00        0.000     0.000    0.400
224      1.0      42.89       8.30        0.135     0.472    0.393
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

###Adding a new column to the df

1. Let's first sum the whole population

In [ ]:
populationSum = df['Population'].sum()
print(populationSum)

6524044551

2. Let's now calculate the % of each countries population in relation to the world

In [ ]:
populationPercent = (df['Population']/populationSum)*100
print(populationPercent)

0      0.476039
1      0.054899
2      0.504750
3      0.000886
4      0.001091
         ...
222    0.037714
223    0.004185
224    0.328879
225    0.176302
226    0.187565
Name: Population, Length: 227, dtype: float64

3. Now we add the column to the df

In [ ]:
df['PopulationPercent'] = populationPercent
print(df)

             Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania   EASTERN EUROPE                          3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0            647500                        48.0                          0.00
1             28748                       124.6                          1.26
2           2381740                        13.8                          0.04
3               199                       290.4                         58.29
4               468                       152.1                          0.00
..              ...                         ...                           ...
222            5860                       419.9                          0.00
223          266000                         1.0                          0.42
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0            23.06                              163.07                 700
1            -4.93                               21.52                4500
2            -0.39                               31.00                6000
3           -20.71                                9.27                8000
4             6.60                                4.05               19000
..             ...                                 ...                 ...
222           2.98                               19.62                 800
223           0.00                                0.00                   0
224           0.00                               61.50                 800
225           0.00                               88.29                 800
226           0.00                               67.69                1900

     Literacy (%)  ...  Arable (%)  Crops (%)  Other (%)  Climate  Birthrate  \
0            36.0  ...       12.13       0.22      87.65      1.0      46.60
1            86.5  ...       21.09       4.42      74.49      3.0      15.11
2            70.0  ...        3.22       0.25      96.53      1.0      17.14
3            97.0  ...       10.00      15.00      75.00      2.0      22.46
4           100.0  ...        2.22       0.00      97.78      3.0       8.71
..            ...  ...         ...        ...        ...      ...        ...
222           0.0  ...       16.90      18.97      64.13      3.0      31.67
223           0.0  ...        0.02       0.00      99.98      1.0       0.00
224          50.2  ...        2.78       0.24      96.98      1.0      42.89
225          80.6  ...        7.08       0.03      92.90      2.0      41.00
226          90.7  ...        8.32       0.34      91.34      2.0      28.01

     Deathrate  Agriculture  Industry  Service  PopulationPercent
0        20.34        0.380     0.240    0.380           0.476039
1         5.22        0.232     0.188    0.579           0.054899
2         4.61        0.101     0.600    0.298           0.504750
3         3.27        0.000     0.000    0.000           0.000886
4         6.25        0.000     0.000    0.000           0.001091
..         ...          ...       ...      ...                ...
222       3.92        0.090     0.280    0.630           0.037714
223       0.00        0.000     0.000    0.400           0.004185
224       8.30        0.135     0.472    0.393           0.328879
225      19.93        0.220     0.290    0.489           0.176302
226      21.84        0.179     0.243    0.579           0.187565

[227 rows x 21 columns]

4. Now we create a new version of the DF

In [ ]:
df.to_csv("paises2.csv", sep=";")

##Making data grouping

In [ ]:
group_region = df.groupby('Region')
print(group_region.count())

                                     Country  Population  Area (sq. mi.)  \
Region
ASIA (EX. NEAR EAST)                      28          28              28
BALTICS                                    3           3               3
C.W. OF IND. STATES                       12          12              12
EASTERN EUROPE                            12          12              12
LATIN AMER. & CARIB                       45          45              45
NEAR EAST                                 16          16              16
NORTHERN AFRICA                            6           6               6
NORTHERN AMERICA                           5           5               5
OCEANIA                                   21          21              21
SUB-SAHARAN AFRICA                        51          51              51
WESTERN EUROPE                            28          28              28

                                     Pop. Density (per sq. mi.)  \
Region
ASIA (EX. NEAR EAST)                                         28
BALTICS                                                       3
C.W. OF IND. STATES                                          12
EASTERN EUROPE                                               12
LATIN AMER. & CARIB                                          45
NEAR EAST                                                    16
NORTHERN AFRICA                                               6
NORTHERN AMERICA                                              5
OCEANIA                                                      21
SUB-SAHARAN AFRICA                                           51
WESTERN EUROPE                                               28

                                     Coastline (coast/area ratio)  \
Region
ASIA (EX. NEAR EAST)                                           28
BALTICS                                                         3
C.W. OF IND. STATES                                            12
EASTERN EUROPE                                                 12
LATIN AMER. & CARIB                                            45
NEAR EAST                                                      16
NORTHERN AFRICA                                                 6
NORTHERN AMERICA                                                5
OCEANIA                                                        21
SUB-SAHARAN AFRICA                                             51
WESTERN EUROPE                                                 28

                                     Net migration  \
Region
ASIA (EX. NEAR EAST)                            28
BALTICS                                          3
C.W. OF IND. STATES                             12
EASTERN EUROPE                                  12
LATIN AMER. & CARIB                             45
NEAR EAST                                       16
NORTHERN AFRICA                                  6
NORTHERN AMERICA                                 5
OCEANIA                                         21
SUB-SAHARAN AFRICA                              51
WESTERN EUROPE                                  28

                                     Infant mortality (per 1000 births)  \
Region
ASIA (EX. NEAR EAST)                                                 28
BALTICS                                                               3
C.W. OF IND. STATES                                                  12
EASTERN EUROPE                                                       12
LATIN AMER. & CARIB                                                  45
NEAR EAST                                                            16
NORTHERN AFRICA                                                       6
NORTHERN AMERICA                                                      5
OCEANIA                                                              21
SUB-SAHARAN AFRICA                                                   51
WESTERN EUROPE                                                       28

                                     GDP ($ per capita)  Literacy (%)  \
Region
ASIA (EX. NEAR EAST)                                 28            28
BALTICS                                               3             3
C.W. OF IND. STATES                                  12            12
EASTERN EUROPE                                       12            12
LATIN AMER. & CARIB                                  45            45
NEAR EAST                                            16            16
NORTHERN AFRICA                                       6             6
NORTHERN AMERICA                                      5             5
OCEANIA                                              21            21
SUB-SAHARAN AFRICA                                   51            51
WESTERN EUROPE                                       28            28

                                     Phones (per 1000)  Arable (%)  Crops (%)  \
Region
ASIA (EX. NEAR EAST)                                28          28         28
BALTICS                                              3           3          3
C.W. OF IND. STATES                                 12          12         12
EASTERN EUROPE                                      12          12         12
LATIN AMER. & CARIB                                 45          45         45
NEAR EAST                                           16          16         16
NORTHERN AFRICA                                      6           6          6
NORTHERN AMERICA                                     5           5          5
OCEANIA                                             21          21         21
SUB-SAHARAN AFRICA                                  51          51         51
WESTERN EUROPE                                      28          28         28

                                     Other (%)  Climate  Birthrate  Deathrate  \
Region
ASIA (EX. NEAR EAST)                        28       28         28         28
BALTICS                                      3        3          3          3
C.W. OF IND. STATES                         12       12         12         12
EASTERN EUROPE                              12       12         12         12
LATIN AMER. & CARIB                         45       45         45         45
NEAR EAST                                   16       16         16         16
NORTHERN AFRICA                              6        6          6          6
NORTHERN AMERICA                             5        5          5          5
OCEANIA                                     21       21         21         21
SUB-SAHARAN AFRICA                          51       51         51         51
WESTERN EUROPE                              28       28         28         28

                                     Agriculture  Industry  Service  \
Region
ASIA (EX. NEAR EAST)                          28        28       28
BALTICS                                        3         3        3
C.W. OF IND. STATES                           12        12       12
EASTERN EUROPE                                12        12       12
LATIN AMER. & CARIB                           45        45       45
NEAR EAST                                     16        16       16
NORTHERN AFRICA                                6         6        6
NORTHERN AMERICA                               5         5        5
OCEANIA                                       21        21       21
SUB-SAHARAN AFRICA                            51        51       51
WESTERN EUROPE                                28        28       28

                                     PopulationPercent
Region
ASIA (EX. NEAR EAST)                                28
BALTICS                                              3
C.W. OF IND. STATES                                 12
EASTERN EUROPE                                      12
LATIN AMER. & CARIB                                 45
NEAR EAST                                           16
NORTHERN AFRICA                                      6
NORTHERN AMERICA                                     5
OCEANIA                                             21
SUB-SAHARAN AFRICA                                  51
WESTERN EUROPE                                      28

This is seriously beautiful

###Making an agregation of countries by regions

In [ ]:
print(group_region.sum()['Country'].unique())

['Afghanistan Bangladesh Bhutan Brunei Burma Cambodia China East Timor Hong Kong India Indonesia Iran Japan Korea, North Korea, South Laos Macau Malaysia Maldives Mongolia Nepal Pakistan Philippines Singapore Sri Lanka Taiwan Thailand Vietnam '
 'Estonia Latvia Lithuania '
 'Armenia Azerbaijan Belarus Georgia Kazakhstan Kyrgyzstan Moldova Russia Tajikistan Turkmenistan Ukraine Uzbekistan '
 'Albania Bosnia & Herzegovina Bulgaria Croatia Czech Republic Hungary Macedonia Poland Romania Serbia Slovakia Slovenia '
 'Anguilla Antigua & Barbuda Argentina Aruba Bahamas, The Barbados Belize Bolivia Brazil British Virgin Is. Cayman Islands Chile Colombia Costa Rica Cuba Dominica Dominican Republic Ecuador El Salvador French Guiana Grenada Guadeloupe Guatemala Guyana Haiti Honduras Jamaica Martinique Mexico Montserrat Netherlands Antilles Nicaragua Panama Paraguay Peru Puerto Rico Saint Kitts & Nevis Saint Lucia Saint Vincent and the Grenadines Suriname Trinidad & Tobago Turks & Caicos Is Uruguay Venezuela Virgin Islands '
 'Bahrain Cyprus Gaza Strip Iraq Israel Jordan Kuwait Lebanon Oman Qatar Saudi Arabia Syria Turkey United Arab Emirates West Bank Yemen '
 'Algeria Egypt Libya Morocco Tunisia Western Sahara '
 'Bermuda Canada Greenland St Pierre & Miquelon United States '
 'American Samoa Australia Cook Islands Fiji French Polynesia Guam Kiribati Marshall Islands Micronesia, Fed. St. Nauru New Caledonia New Zealand N. Mariana Islands Palau Papua New Guinea Samoa Solomon Islands Tonga Tuvalu Vanuatu Wallis and Futuna '
 "Angola Benin Botswana Burkina Faso Burundi Cameroon Cape Verde Central African Rep. Chad Comoros Congo, Dem. Rep. Congo, Repub. of the Cote d'Ivoire Djibouti Equatorial Guinea Eritrea Ethiopia Gabon Gambia, The Ghana Guinea Guinea-Bissau Kenya Lesotho Liberia Madagascar Malawi Mali Mauritania Mauritius Mayotte Mozambique Namibia Niger Nigeria Reunion Rwanda Saint Helena Sao Tome & Principe Senegal Seychelles Sierra Leone Somalia South Africa Sudan Swaziland Tanzania Togo Uganda Zambia Zimbabwe "
 'Andorra Austria Belgium Denmark Faroe Islands Finland France Germany Gibraltar Greece Guernsey Iceland Ireland Isle of Man Italy Jersey Liechtenstein Luxembourg Malta Monaco Netherlands Norway Portugal San Marino Spain Sweden Switzerland United Kingdom ']

###Making a sum of each region

In [ ]:
print(group_region.sum()['Population'])

Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

##Custom functions in Pandas

In [ ]:
#Function that gives 10% discount
def tenpercent(x):
  return x*0.9

###Taking the mortality % of the df

In [ ]:
mortality = df['Deathrate']
print(mortality)

0      20.34
1       5.22
2       4.61
3       3.27
4       6.25
       ...
222     3.92
223     0.00
224     8.30
225    19.93
226    21.84
Name: Deathrate, Length: 227, dtype: float64

###Aplying a 10% discount in the deathrate

In [ ]:
mortality2 = mortality.apply(tenpercent)
print(mortality2)

0      18.306
1       4.698
2       4.149
3       2.943
4       5.625
        ...
222     3.528
223     0.000
224     7.470
225    17.937
226    19.656
Name: Deathrate, Length: 227, dtype: float64

##Making a new df with both series

In [ ]:
df2 = pd.concat([mortality, mortality2], axis=1)
df2

     Deathrate  Deathrate
0        20.34     18.306
1         5.22      4.698
2         4.61      4.149
3         3.27      2.943
4         6.25      5.625
..         ...        ...
222       3.92      3.528
223       0.00      0.000
224       8.30      7.470
225      19.93     17.937
226      21.84     19.656

[227 rows x 2 columns]

###Naming the columns

In [ ]:
df2.columns = ['Deathrate', 'Deathrate With Discount']
df2

     Deathrate  Deathrate With Discount
0        20.34                   18.306
1         5.22                    4.698
2         4.61                    4.149
3         3.27                    2.943
4         6.25                    5.625
..         ...                      ...
222       3.92                    3.528
223       0.00                    0.000
224       8.30                    7.470
225      19.93                   17.937
226      21.84                   19.656

[227 rows x 2 columns]

##Missing Data
- Pandas has in-built functions that deals with missing data
- The ".dropna()" function drops the whole line when a single data is missing
- Another option is ".fillna(0)" that fills missing data with 0 so we don't discard the whole line